<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/bower_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/bower_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="/bower_modules/font-awesome/css/font-awesome.css">
  </head>

  <body>
    <script type="text/javascript" src="/bower_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/bower_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="/bower_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/bower_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="/dlx.app.module.js"></script>
    <script type="text/javascript" src="/filter/dlx.filter.module.js"></script>
    <script type="text/javascript" src="/filter/dlx.filter.directive.js"></script>
    <script type="text/javascript" src="/image/dlx.images.module.js"></script>
    <script type="text/javascript" src="/image/dlx.image.directive.js"></script>
    <script type="text/javascript" src="/image/dlx.image-container.directive.js"></script>
    <script type="text/javascript" src="/upload/dlx.upload.module.js"></script>
    <script type="text/javascript" src="/upload/dlx.upload.directive.js"></script>
  </body>
</html>